body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-position: center; /* Center the image */
    background-color: bisque;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the transparency here */
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 450px;
    padding: 200px 33px 173px;
  }
  
  .login-form {
    width: 90%;
    max-width: 450px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 60px 70px;
    border-radius: 10px;
  
    transition: opacity 0.3s ease;
    opacity: 1;
  }
  
  .form-control {
    border-radius: 8px;
  }
  
  .btn {
    border-radius: 8px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
  }


  a {
    position: absolute;
    left: 357px;
    bottom: 17px;
  }